<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.happyghost.showtimeforkotlin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BaseTheme">
        <activity
            android:name=".ui.home.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.home.MainActivity" />
        <!--新闻模块-->
        <activity android:name=".ui.news.channel.ChannelActivity" />
        <activity
            android:name=".ui.news.special.NewsSpecialActivity"
            android:theme="@style/SwipeBackTheme" /> <!-- 该Theme是防止滑动退出时出现黑屏或看到桌面 -->
        <activity
            android:name=".ui.news.normal.NewsNormalActivity"
            android:theme="@style/SwipeBackTheme" />
        <activity android:name=".ui.news.photonews.PhotoSetNewsActivity" />
        <!--阅读模块-->
        <activity android:name=".ui.book.read.ReadActivity"
            android:theme="@style/ReadTheme"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            </activity>
        <activity android:name=".ui.book.read.CatalogueListActivity"/>
        <activity android:name=".ui.book.classify.classifydetail.ClassifyDetailActivity"/>
        <activity android:name=".ui.book.bookdetail.BookDetailInfoActivity"/>
        <activity android:name=".ui.book.bookdetail.discussion.BookDiscussionDetailActivity"/>
        <activity android:name=".ui.book.bookdetail.subject.SubjectBookListDetailActivity"/>
        <activity android:name=".ui.book.bookdetail.community.BookDetailCommunityActivity"/>
        <activity android:name=".ui.book.bookdetail.community.BookReviewDetailActivity"/>
        <activity android:name=".ui.book.community.item.BookHelpDetailActivity"/>
        <activity android:name=".ui.book.rank.iteminfo.SubRankActivity"/>
        <activity android:name=".ui.book.rank.iteminfo.SubOtherHomeRankActivity"/>
        <service android:name=".downloadservice.DownloadBookService"/>
    </application>

</manifest>